*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;  
}
   

main {
    background-color: hsl(0, 0%, 8%);
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 340px;
    text-align: center;

}

img {
    border-radius: 50%;
    width: 90px;
    margin-bottom: 20px;
    border: 2px solid hsla(75, 94%, 57%, 0.881);
    
}

h1 {
    color: hsl(0, 0%, 100%);
    margin-bottom: 10px;
}

.paragrafo {
    color: hsl(75, 94%, 57%);
    font-size: 14px;
    margin-bottom: 15px;
    
}

.parag {
    color: hsl(0, 0%, 100%);
    font-size: 14px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li a {
    display: block;
    background-color: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 20%);
    transition: 0.3s ;
}

li a:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8% );
    cursor: pointer;
}

footer {
    margin-top: 20px;
     color: aliceblue;
     font-size: 14px;
}

.primeiro {
    color: hsl(75, 94%, 57%);

}

@media (max-width: 425px) {
    body {
        padding: 40px 10px;
    }

    main {
        padding: 30px;
        width: 100%;
    }

    img {
        width: 70px;
    }
}

@media (min-width: 1200px) {
    main {
        padding: 60px;
        max-width: 400px;
    }

    img {
        width: 100px;
    }
}



